aniso8601==6.0.0
apipkg==1.5
atomicwrites==1.3.0
attrs==19.1.0
certifi==2019.3.9
chardet==3.0.4
Click==7.0
clickclick==1.2.2
connexion==2.2.0
execnet==1.5.0
Flask==1.0.2
Flask-RESTful==0.3.7
gunicorn==19.9.0
idna==2.8
inflection==0.3.1
itsdangerous==1.1.0
Jinja2==2.10.1
jsonschema==2.6.0
MarkupSafe==1.1.1
more-itertools
numpy==1.16.2
openapi-spec-validator==0.2.6
opencv-python==4.0.0.21
pathlib==1.0.1
pluggy==0.9.0
py==1.8.0
pytest==4.3.1
pytest-flask==0.14.0
pytest-forked==1.0.2
pytest-xdist==1.27.0
pytz==2018.9
PyYAML==5.1
requests==2.21.0
six==1.12.0
swagger-ui-bundle==0.0.3
urllib3>=1.24.2
Werkzeug>=0.15.3
